openapi: 3.1.0
info:
  title: Guava Voice Agent REST Conversations SDK API
  description: The Guava (formerly Gridspace) REST API lets you manage calls, conversations, SMS messages, and account resources directly over HTTP — no SDK required. Guava is a voice AI platform for regulated industries (healthcare, banking, insurance, BPOs, government). This specification was reconstructed faithfully from Guava's published REST API reference at https://goguava.ai/docs/api-overview; every path, parameter, and response field is documented by the provider.
  version: v1
  contact:
    name: Guava Support
    email: hi@goguava.ai
    url: https://goguava.ai/docs/api-overview
  x-logo:
    url: https://goguava.ai
servers:
- url: https://api.goguava.ai/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: SDK
  description: SDK lifecycle utilities.
paths:
  /check-sdk-deprecation:
    post:
      operationId: checkSdkDeprecation
      summary: Check SDK deprecation status
      description: Check the deprecation status of a specific SDK version. REST-only — there is no SDK or CLI method for it.
      tags:
      - SDK
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - sdk_name
              - sdk_version
              properties:
                sdk_name:
                  type: string
                  enum:
                  - python-sdk
                  - typescript-sdk
                  description: The SDK to check.
                sdk_version:
                  type: string
                  description: The version to check (e.g. "0.5.0").
      responses:
        '200':
          description: Deprecation status returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deprecation_status:
                    type: string
                    enum:
                    - supported
                    - deprecated
        '401':
          description: Invalid authentication.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Include your API key as a bearer token: Authorization: Bearer YOUR_GUAVA_API_KEY. API keys are created on the app.goguava.ai dashboard and are prefixed "gva-".'
